// .container {
// 	margin: 1rem;
//   	@include media('small-screen') {
//     	margin: 1rem 20vw;
//   	}
// }
.header {
	@include clearfix;
}
.header > .brand {
	float: left;
	width:70%;
	@include media('small-screen') {
		width:100%;
	}	
}
.header > button {
	float: right;
	width:30%;
	border: 0;
	margin: .25rem 0;
	@include media('small-screen') {
		display: none;
		margin: 0;
	}	
}
.header > nav {
	@include clearfix;
}

.logo span {
	@include media('small-screen') {
		text-align: center;
	}
}

main {
	margin-top: 1.5rem;
}
article {
	margin-bottom: 2rem;
	img {
		margin: 0.5rem 0 1rem;
	}
}

.date {
	margin-bottom: 1rem
}
