<footer>

  <div class="newsletter" id="newsletter-2">
    <div class="h6">Let us keep in touch with you</div>
    
<!--     <form>
      <label for="email">Email</label>
      <input name="email" type="text" placeholder="Email Address"><button>Sign Up</button>
    </form>
 -->

       <div class="append-to-me"></div>


    <div class="social">
      {{#if social}} {{#each social}}
      <a target="_blank" href="{{this}}"><span class="icon-{{@key}}"></span><span class="accessibility">{{@key}}</span></a> {{/each}} {{/if}}
    </div>
  </div>

  <div class="company">
    <div class="h6">K+M extravirgin chocolate</div>
    <div class="main-office">
      <div class="h7">Main Office</div>
      <p class="p3">

        840 Latour Court, Suite B <br />
        Napa, CA 94558 <br />
        (707) 681.2669 <br />
        <a href="mailto:info@kellermannichocolate.com">info@kellermannichocolate.com</a><br />
        <a href="mailto:orders@kellermannichocolate.com">orders@kellermannichocolate.com</a>

      </p>
    </div>
    <div class="press-media">
      <div class="h7">Press &amp; Media</div>
      <p class="p3">
        For inquiries, please contact<br />
        PR Consulting:<br />
        <A href="mailto:tkrg@prconsulting.net">tkrg@prconsulting.net</a>
      </p>
    </div>
  </div>


  <div class="newsletter" id="newsletter-1">
    <div class="h6">Let us keep in touch with you</div>

      <div class="append-to-me">


        <form action="//kellermannichocolate.us6.list-manage.com/subscribe/post?u=c17b35e5a2&amp;id=6669fd01f2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="novalidate">
            <label for="mce-EMAIL">Email Address <span class="asterisk">*</span>
            </label>
            <input type="email" value="" placeholder="Email Address" name="EMAIL" class="required email" id="mce-EMAIL" aria-required="true" title="email">
            <input type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe" class="button">        
            <div style="display:none">
                <div class="mc-field-group">
                    <label for="mce-FNAME">First Name </label>
                    <input type="text" value="" name="FNAME" class="" id="mce-FNAME" title="First Name">
                </div>
                <div class="mc-field-group">
                    <label for="mce-LNAME">Last Name </label>
                    <input type="text" value="" name="LNAME" class="" id="mce-LNAME" title="Last Name">
                </div>
                

            </div>
            <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <label for="b_c17b35e5a2_6669fd01f2">Last Name </label>
                <input type="text" name="b_c17b35e5a2_6669fd01f2" id="b_c17b35e5a2_6669fd01f2" tabindex="-1" value="">
            </div>
        </form>
            
      </div>

        <div class="social">
      {{#if social}} {{#each social}}
      <a target="_blank" href="{{this}}"><span class="icon-{{@key}}"></span><span class="accessibility">{{@key}}</span></a> {{/each}} {{/if}}
    </div>      

  </div>


  <div class="footer-links">
    {{#if legal}} {{#each legal}}
      <a class="h6 {{path}}" href="/{{path}}">{{title}}</a>
    {{/each}} {{/if}}
  </div>

  <div class="copyright h7">{{site.copyright}}</div>

</footer>
<div id="hidden"></div>
<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
<script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<script src="/scripts/all.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55552143-2', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
