{{> header}}
<main>
    <h1>{{title}}</h1>
    <div class="header-image-container">
        <div class="header-image" style="background-image:url({{imgL image1}})"></div>
        <div class="header-mobile-image-stacked">
            <img src="{{imgS mobileimage1}}" alt="Products">
        </div>
        <div class="header-text">
            <div class="header-image-blurred" style="background-image:url({{imgL image1}})"></div>
            <div class="contents">
                <div class="headline h1">{{headline1}}</div>
                {{#if subheadline1}}
                <div class="subheadline h2">{{subheadline1}}</div>
                {{/if}}
                <p class="p4">{{{teaser1}}}</p>
            </div>
        </div>
        <button class="expander">
            <img src="/images/plus.svg" alt="plus icon">
            <span>Click to Expand</span>
        </button>
    </div>
    <div class="header-image-container">
        <div class="header-image" style="background-image:url({{imgL image2}})"></div>
        <div class="header-mobile-image" style="background-image:url({{imgS mobileimage2}})">
            <div class="pre-teaser-mobile">
                <div class="h1">{{{ pre-teaser2 }}}</div>
            </div>
            <div class="contents-mobile panels">
                <button class="close"><img src="/images/plus.svg" alt="close" /></button>
                <div class="headline-mobile h1">{{headline2}}</div>
                {{#if subheadline2}}
                <div class="subheadline-mobile h5">{{subheadline2}}</div>
                {{/if}}
                <div 
                class="cycle-slideshow"
                data-cycle-fx="scrollHorz" 
                data-cycle-slides="> p"
                data-cycle-timeout=0
                data-cycle-prev=".prev2"
                data-cycle-next=".next2"
                data-cycle-swipe="true"
                data-cycle-pager-template="<span>&nbsp;</span>"
                >
                    {{#if copy2_1}}
                        <p class="p1">{{{copy2_1}}}</p>
                    {{/if}}    
                    {{#if copy2_2}}
                        <p class="p1">{{{copy2_2}}}</p>
                    {{/if}}    
                    {{#if copy2_3}}
                        <p class="p1">{{{copy2_3}}}</p>
                    {{/if}}    
                    {{#if copy2_4}}
                        <p class="p1">{{{copy2_4}}}</p>
                    {{/if}}    
                    <div class="cycle-pager"></div>                     
                    <a href="#" class="prev prev2"><span>prev</span></a>
                    <a href="#" class="next next2"><span>next</span></a>
                 </div>
            </div>
        </div>
        <div class="pre-teaser h1">
            {{{ pre-teaser2 }}}
        </div>
        <div class="header-text">
            <div class="header-image-blurred" style="background-image:url({{imgL image2}})"></div>
            <div class="contents">
                <div class="headline h1">{{headline2}}</div>
                {{#if subheadline2}}
                <div class="subheadline h5">{{subheadline2}}</div>
                {{/if}}
                <div 
                class="cycle-slideshow"
                data-cycle-fx="scrollHorz" 
                data-cycle-slides="> p"
                data-cycle-timeout=0
                data-cycle-prev=".prev2"
                data-cycle-next=".next2"
                data-cycle-swipe="true"
                data-cycle-pager-template="<span>&nbsp;</span>"
                >
                    {{#if copy2_1}}
                        <p class="p1">{{{copy2_1}}}</p>
                    {{/if}}    
                    {{#if copy2_2}}
                        <p class="p1">{{{copy2_2}}}</p>
                    {{/if}}    
                    {{#if copy2_3}}
                        <p class="p1">{{{copy2_3}}}</p>
                    {{/if}}    
                    {{#if copy2_4}}
                        <p class="p1">{{{copy2_4}}}</p>
                    {{/if}}    
                    <div class="cycle-pager"></div>                     
                    <a href="#" class="prev prev2"><span>prev</span></a>
                    <a href="#" class="next next2"><span>next</span></a>
                 </div>

            </div>
        </div>
        <button class="expander">
            <img src="/images/plus.svg" alt="plus icon">
            <span>Click to Expand</span>
        </button>
    </div>
    <div class="header-image-container">
        <div class="header-image" style="background-image:url({{imgL image3}})"></div>
        <div class="header-mobile-image" style="background-image:url({{imgS mobileimage3}})">
            <div class="pre-teaser-mobile">
                <div class="h1">{{{ pre-teaser3 }}}</div>
            </div>
            <div class="contents-mobile panels">
                <button class="close"><img src="/images/plus.svg" alt="close" /></button>

                <div class="headline-mobile h1">{{headline3}}</div>
                {{#if subheadline3}}
                <div class="subheadline-mobile h5">{{subheadline3}}</div>
                {{/if}}
                <div 
                class="cycle-slideshow"
                data-cycle-fx="scrollHorz" 
                data-cycle-slides="> p"
                data-cycle-timeout=0
                data-cycle-prev=".prev3"
                data-cycle-next=".next3"
                data-cycle-swipe="true"
                data-cycle-pager-template="<span>&nbsp;</span>"
                >
                    {{#if copy3_1}}
                        <p class="p1">{{{copy3_1}}}</p>
                    {{/if}}    
                    {{#if copy3_2}}
                        <p class="p1">{{{copy3_2}}}</p>
                    {{/if}}    
                    {{#if copy3_3}}
                        <p class="p1">{{{copy3_3}}}</p>
                    {{/if}}    
                    {{#if copy3_4}}
                        <p class="p1">{{{copy3_4}}}</p>
                    {{/if}}    
                    <div class="cycle-pager"></div>                     
                    <a href="#" class="prev prev3"><span>prev</span></a>
                    <a href="#" class="next next3"><span>next</span></a>
                 </div>
            </div>
        </div>
        <div class="pre-teaser h1">
            {{{ pre-teaser3 }}}
        </div>
        <div class="header-text">
            <div class="header-image-blurred" style="background-image:url({{imgL image3}})"></div>
            <div class="contents">

                <div class="headline h1">{{headline3}}</div>
                {{#if subheadline3}}
                <div class="subheadline h2">{{subheadline3}}</div>
                {{/if}}
                <div 
                class="cycle-slideshow"
                data-cycle-fx="scrollHorz" 
                data-cycle-slides="> p"
                data-cycle-timeout=0
                data-cycle-prev=".prev3"
                data-cycle-next=".next3"
                data-cycle-swipe="true"
                data-cycle-pager-template="<span>&nbsp;</span>"
                >
                    {{#if copy3_1}}
                        <p class="p1">{{{copy3_1}}}</p>
                    {{/if}}    
                    {{#if copy3_2}}
                        <p class="p1">{{{copy3_2}}}</p>
                    {{/if}}    
                    {{#if copy3_3}}
                        <p class="p1">{{{copy3_3}}}</p>
                    {{/if}}    
                    {{#if copy3_4}}
                        <p class="p1">{{{copy3_4}}}</p>
                    {{/if}}    
                    <div class="cycle-pager"></div>                     
                    <a href="#" class="prev prev3"><span>prev</span></a>
                    <a href="#" class="next next3"><span>next</span></a>
                 </div>      
            </div>
        </div>
        <button class="expander">
            <img src="/images/plus.svg" alt="plus icon">
            <span>Click to Expand</span>
        </button>
    </div>
    <div class="video-content" id="doc">
        {{{contents}}}
    </div>
</main>
{{> footer}}