{{> header}}
<main>

  <h1>Products</h1>  

  <div class="header-image-container open">
    <div class="header-image" style="background-image:url({{imgL image}})"></div>
    <div class="header-mobile-image-stacked">
      <img src="{{imgS mobileimage}}" alt="Products">
    </div>
    <div class="header-text">
      <div class="header-image-blurred" style="background-image:url({{imgL image}})"></div>            <div class="contents">
        <div class="headline h1">{{headline}}</div>
        {{#if subheadline}}
          <div class="subheadline h2">{{subheadline}}</div>
        {{/if}}  
        <p class="p4">{{{teaser}}}</p>
      </div>
    </div>
  </div>     

  {{#if products}}

  <section id="groups">
    <article v-for="group in groups" v-if="group.published==true">
      <div class="image">
        <img v-bind:src="makeImage(group)" v-bind:alt="group.title"/>
      </div>
      <div class="text">
        <div class="title h1">(( group.title ))</div>
        <div class="subhead h2">(( group.subhead ))</div>
        <div class="originhead h5">(( group.originhead ))</div>
        <div class="origins">
          <span class="origin h5" v-for="product in products" v-if="product.groups==group.slug && product.published==true" @click=selectProduct(product,group)>
          <a v-bind:class="{ active : product.clicked}">(( product.origin ))</a>
          </span>
        </div>
        <div class="teaser p1" v-html="group.teaser">(( group.teaser ))</div>
        <div class="notes p1" v-if="group.notes!=false">Tasting notes: <span class="lowercase">(( group.notes ))</span></div>

          </span>
        
        <div class="button-bar">
          <div class="shopify-void" v-if="group.shopify_id!=0" v-bind:id="'p-'+group.shopify_id" @change=initShopify(product,group)></div>
          <button class="origin-click" @click=showOrigins(group)>(( group.originclick ))</button>
          
          <div class="origins-nav" v-bind:class="{ active : group.clicked}">
            <div class="title h1">(( group.title ))</div>
            <div class="subhead h2">(( group.subhead ))</div> 
            <div class="originhead h4">(( group.originhead ))</div>
            <ul>
              <li v-for="product in products" v-if="product.groups==group.slug && product.published==true" @click=selectProduct(product,group)>
                <div class="title h3">(( product.title ))</div>
                <div class="notes h2">(( product.notes ))</div>
              </li>
            </ul>            
          </div>
        </div>
      </div>  
    </article>
  </section>
  {{/if}}
</main>
{{> footer}}