$desktopHeight : 45rem;

.header-image-container {
	position: relative;	
	overflow:hidden;
	@include media('small-screen') {
		display: flex;
		align-items: center;
		 -webkit-box-direction: normal;
	}
}

.header-image {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: $desktopHeight;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;

	@include media('small-screen') {
		display:block;
	}
}

.header-mobile-image-stacked {
	line-height: 0;
}
.header-mobile-image-stacked,
.header-mobile-image {
	@include media('small-screen') {
		display:none;
	}	
}

.header-mobile-image {
	@include media('small-screen') {
		display:none;
	}
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left center;	
	height: 100vh;
	display: flex;
	align-items: center;
	 -webkit-box-direction: normal;
	 .pre-teaser-mobile {
	 	background: url(/images/arrow-large.svg) center right no-repeat rgba(255, 255, 255, .85);
	 	background-size: 25% 25%;
	 	padding: 4rem 6rem 4rem 5rem;
	 	cursor: pointer;
	 	.h1 {
	 		line-height: 2;
	 	}
	 }
	.contents-mobile {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #fff;
		padding: 6rem 3rem 3rem;
		display: none;
		opacity: 0;
		transition: 250ms all ease-in;	
		p {
			width:75vw;
		}	
		&.open {
			display:block;
			opacity: 1;			
		}
		.close {
			position: absolute;
			transform: rotate(45deg);
			border: 0;
			top: 1.65rem;
			right: 1.65rem;
			img {
				width: auto;
				height: 1rem;

			}
			&:hover {
				background: transparent;
			}
		}
	}
}

.expander {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	.header-image-container:nth-of-type(2) & {
		right: auto;
		left: 0;
	}
	padding: 1.25rem;
	margin: 0;
	border: 0;
	height: $desktopHeight;
	background: rgba(255, 255, 255, .5);
	cursor: pointer;
	outline: 0;
	&:hover {
		background: rgba(255, 255, 255, .5);
		border: 0;
	}
	img {
		transition: 250ms all ease-in;
		.open & {
			transform: rotate(-45deg);
		}
	}
	span {
		display:none;
	}
	img {
		height:1rem;
		width:auto;
	}
	@include media('small-screen') {
		display:block;
	}

}

.header-text {
	padding: 3rem 2rem;
	height: auto;
	align-items: center;
	display: none;
	.extravirgin-chocolate .header-image-container:nth-of-type(1) &,
	.home .header-image-container &,
	 {
		display: block;
		@include media('small-screen') {
			display: flex;
		}
	}
	@include media('small-screen') {
		display: flex;
		overflow: hidden;
		position: relative;
		right: -100vw;
		padding: 6rem 12rem 6rem 6rem;
		.header-image-container:nth-of-type(2) & {
			right: auto;
			left: -50%;
			padding: 6rem 6rem 6rem 9rem;
		}		
		width: 50%;
		height: $desktopHeight;
		color: #000;
		//background: #fff;
		background: rgba(255, 255, 255, .85);
	}

	.contents {
		position: relative;
		display: none;
		.extravirgin-chocolate .header-image-container:nth-of-type(1) &,
		.products .header-image-container:nth-of-type(1) &,
		.home .header-image-container & {
			display: block;
		}
		@include media('small-screen') {
			display: block;
		}
		.cycle-slideshow p {
			width:32vw;
		}
	}
	
	transition: 250ms all ease-in;
	.open & {
		right:-50%;
	}
}

.products .header-image-container:nth-of-type(1) .header-image {
	background-position: center center;
} 

.products .header-image-container:nth-of-type(1) .header-text { 
	padding: 3rem 2rem;
	display: block;
	@include media('small-screen') {
		display: flex;
		padding: 6rem 9.5rem 6rem 10rem;			
	}
}


.header-image-container:nth-of-type(1) .header-text { 
	background: #000;
	color: #fff;
	.extravirgin-chocolate & {
		background: transparent;		
		color:#000;
	}
	@include media('small-screen') {
		color: #000;
		//background: #fff;
		background: rgba(255, 255, 255, .85);
		.extravirgin-chocolate & {
			background: rgba(255, 255, 255, .85);
		}
		.products & {
			background: transparent;
		}
	}
}
.open.header-image-container:nth-of-type(2) .header-text {
	right: auto;
	left: 0;
}		


.header-image-blurred {
	display: none;
	@include media('small-screen') {
		display: none;
	}
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	background-repeat: no-repeat;
	background-size: 200%;
	background-position: top right;
	.header-image-container:nth-of-type(2) & {
		background-position: top left;
	}
	filter: blur(5px);
	opacity:0.85;
	&:before {
		content:" ";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(255, 255, 255, .85);
	}
}

.pre-teaser {
	opacity: 0;
	position: absolute;
	line-height:2.25;
	background: rgba(255, 255, 255, .65);
	padding:  3rem;
	transition: 250ms all ease-in;
	@include media('small-screen') {
		top: 15vw;
		left: 12vw;
		width: 24vw;
		opacity: 1;
		.open & {
			opacity: 0;
		}
	}

}

.header-image-container:nth-of-type(3) .pre-teaser {
	@include media('small-screen') {
		left:auto;
		right: 12vw;
		width: 25vw;
	}
}
.home .header-image-container:nth-of-type(3) .pre-teaser {
	@include media('small-screen') {
		width: 28vw;
		padding-right:6rem;		
	}

}
.home .header-image-container:nth-of-type(3) .header-image-blurred:before,
.home .header-image-container:nth-of-type(3) .header-text
 {
	background: $c-lightGray;
	filter: blur(0);
}

.home .header-image-container:nth-of-type(3) .header-image {
	background-position: left center;
}
	
.open.header-image-container:nth-of-type(3) .header-text {
	@include media('small-screen') {
		padding-right: 8rem;
		.extravirgin-chocolate & {
			padding-right:11rem;
		}
	}
}
.home .header-image-container:nth-of-type(3).open .expander {
	display:none
}